certifi==2020.6.20
chardet==3.0.4
dnacentersdk==2.0.2
fastjsonschema==2.14.5
furl==2.1.0
future==0.18.2
idna==2.10
ISE==0.1.2
orderedmultidict==1.0.1
requests==2.24.0
requests-toolbelt==0.9.1
six==1.15.0
urllib3==1.25.11
